<h1><%= @todo.title %></h1>
<hr>

<div class="row">
  <%= link_to "Edit To-Do", edit_category_todo_path(@category, @todo), class: 'btn btn-warning btn-lg edit_button_todo' %>
</div>

<h4> <%= @todo.description %></h4>
<hr class="todo_show">

<h4>Steps:</h4>
<hr class="todo_show">
<% @steps.each do |s| %>
<p><%= s.name %></p>
  <% end %>

<div class="details_wrapper">
<h4>Priority <i class="fa fa-times-circle details_close"></i></h4>

<div class="details_container">
  <%= render partial: "todos/priority" %>
</div>
</div>
