<h1><%= @todo.title %></h1>
<hr>

<div class="row">
  <%= link_to "Edit To-Do", edit_category_todo_path(@category, @todo), class: 'btn btn-warning btn-lg edit_button_todo' %>
</div>

<h4> <%= @todo.description %></h4>
<hr class="todo_show">

<h4>Steps:</h4>
<hr class="todo_show">
<% @steps.each do |s| %>
<p><%= s.name %></p>
<small>
  submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br/>
</small>
  <% end %>

